* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Montserrat", sans-serif; */
    /* overflow: hidden; */
  }

  body{
    background-color: #f9f9f9;
  }
   
  /* --- Customize ScrollBars --- */
  .footer .center .linkedin-content::-webkit-scrollbar {
    width: 11px;
  }
  .footer .center .linkedin-content::-webkit-scrollbar-track {
    background: #fff;
  }
  .footer .center .linkedin-content::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 7px;
  }

  /* --- All Section Colored Same */
  section{
    background-color: #f9f9f9;
  }

  
  /* Header Styles Starts Here */
  header {
    background-color: #ec9122;
    padding: 5px 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }
  .header a {
    text-decoration: none;
    color: #fff;
  }
  .header .icons i {
    margin-right: 7px;
    transition: all 0.3s ease;
  }
  .header .icons i:hover {
    scale: 1.2;
    color: #5f86c3;
  }
  .header .email i {
    margin-right: 1px;
  }
  /* Header Styles Ends Here */


  /* Nav Styles Starts Here */
  nav {
    padding: 12px 0 !important;
    background-color: #fff !important;
  }
  nav .nav-link {
    font-weight: 500;
  }
  nav .dropdown-menu {
    background-color: #e79b3e !important;
  }
  nav .dropdown-item {
    color: #fff !important;
    font-weight: 400;
    transition: all 0.2s ease;
  }
  nav .dropdown-item:hover,
  nav .dropdown-item:focus {
    background-color: #e79b3e !important;
    color: #ececec !important;
  }

  /* .dropdown-toggle::after {
    display: none;
  } */

  /* Nav Styles Ends Here */


  /* Top Image Section Starts Here */
  .top-image{
    overflow: hidden;
    position: relative;
  }
  .top-image img{
    width: 100%;
  }
  .top-image h2{
    position: absolute;
    top: 45%;
    left: 10%;
    color: #fff;
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
  }
  /* Top Image Section Ends Here */


  /* Research Initiatives Section Starts Here */
  .research-initiatives{
    padding: 6rem 0 3rem 0;
    overflow: hidden;
  }
  .research-initiatives h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2.1rem;
    margin-bottom: 1.2rem;
    /* color: #ec9122; */
    color: #000;
  }
  .research-initiatives p{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .research-initiatives .btn-row{
    display: flex;
    justify-content: space-between;
  }
  .research-initiatives .btn-row button{
    border: 1px solid #ec9122;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 8px;
    font-weight: 500;
    transition: all 0.2s ease;
  }
  .research-initiatives .btn-row button:hover{
    border: 1px solid #fff;
    background-color: #ec9122;
    color: #fff;
  }
  .research-initiatives .btn-row a{
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
  }
  /* Research Initiatives Section Ends Here */


  /* Automobile Section Starts Here */
  .automobile{
    /* padding: 1rem 0; */
    margin-top: 1rem;
  }
  .my-row h1{
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    text-align: center;
    /* color: #ec9122; */
    color: #000;
  }
  .my-row .card-row{
    /* background-color: bisque; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 2%;
    width: 100%;
    padding: 1rem 0 4rem 0;
  }
  .my-row .card-row .card{
    background-color: #fff;
    width: 23%;
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 2rem;
  }
  .my-row .card-row .card .img-box img{
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  .my-row .card-row .card .img-box img:hover{
    scale: 1.03;
  }
  .my-row .card-row .card .desc{
    /* background-color: red; */
    min-height: 130px;
    padding-top: 1.8rem;
  }
  .my-row .card-row .card .desc a{
    text-decoration: none;
    color: #ec9122;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  .my-row .card-row .card .desc a:hover{
    color: rgb(78, 78, 78)
  }

  .my-row #card-row-1{
    padding: 2rem 0;
  }

  /* Automobile Section Ends Here */

  /* Bank & Finance Section Starts Here */
  .bank-finance{
    padding: 3rem 0 0 0;
  }
  /* Bank & Finance Section Ends Here */

  .coffee-table{
    padding: 1rem 0;
  }

  .economy{
    padding: 1rem 0;
  }



  /* Footer Styles Starts Here */
  footer{
    background-color: #ec9122;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
  }
  .footer{
    display: flex;
    justify-content: space-between;
  }
  .footer .left{
    width: 29%;
    color: #fff;
  }
  .footer .left img{
    background-color: #fff;
    padding: 0.5rem 0.8rem;
    margin-top: 1rem;
  }
  .footer .left a{
    color: #fff;
  }
  .footer .left .foot-icons{
    margin-top: 2rem;
  }
  .footer .left .foot-icons i{
    margin-right: 0.7rem;
    font-size: 1.3rem;
    transition: all 0.2s ease;
  }
  .footer .left .foot-icons i:hover{
    scale: 1.1;
    color: #5f86c3;
  }
  
  .footer .center{
    width: 30%;
  }
  .footer .center h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  .footer .center img{
    width: 100%;
    /* position: relative; */
  }
  .footer .center button{
    position: absolute;
    left: 75%;
    top: 46%;
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #616161;
    background-color: #f9f9f9;
    transition: all 0.2s ease;
  }
  .footer .center button:hover{
    background-color: #ededede4;
  }
  .footer .center .linkedin-content{
   height: 150px;
   overflow-y: scroll;
   padding: 10px;
   background-color: #d2d0d0;
  }
  
  .footer .end{
   width: 22%;
   color: #fff;
   display: flex;
   flex-direction: column;
  }
  .footer .end h3{
   font-size: 1.1rem;
  }
  .footer .end p{
   font-size: 0.8rem;
  }
  .footer .end div{
   margin-bottom: 1rem;
  }
  /* .footer .end img{
   width: 30px;
   margin-left: 90%;
   margin-top: 1.3rem;
   cursor: pointer;
   transition: all 0.3s ease;
  } */
  /* .footer .end img:hover{
   scale: 1.1;
  } */
  .footer-line .line{
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    margin-top: 1rem;
  }
  .copyright{
   display: flex;
   justify-content: space-between;
   color: #fff;
   margin-top: 7px;
   font-size: 0.9rem;
  }

  #back-to-top{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1.2rem;
    right: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.308) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.3s ease;
  }
  #back-to-top:hover{
      scale: 1.1;
  }

  /* Footer Styles Ends Here */